# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/
build/
coverage/

# Environment variables
.env
.env.*
.env.local
.env.production
.env.*.local
node_modules/

# Misc
.DS_Store
.vscode/
*.log


# UI testing
.auth/
ui-artifacts/
